<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="lib/jquery-1.11.1.js"></script>
<script type="text/javascript" src="src/menu/index.js"></script>
<link rel="stylesheet" href="lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/menu/index.css" />
<script src="lib/md5.js"></script>


<title>Chipschach - Anmeldung</title>
</head>
<body>
	<div id="body-container">
		<div id="logo_container">
            <a href="../menu"><div class="logo"></div></a>
        </div>
		
		<div id="userdata">
			<p>Benutzername: <input type="text" name="user" class="form-control" placeholder="<<Anmeldemaske funktioniert noch nicht>>"></p>
			<p>Passwort: <input type="password" name="pw" id="pw" class="form-control" placeholder="Hier das Passwort eintragen!"></p>
			<p><button type="submit" class="btn btn-success btn-lg" id="btn_login">Anmelden!</button></p>
        </div>
	</div>
</body>
</html>