<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta charset="UTF-8" />
  <script type="text/javascript" src="src/local/game.js"></script>
  <script type="text/javascript" src="lib/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="lib/crafty.js"></script>
  <script type="text/javascript" src="lib/toastr.js"></script>
  <script type="text/javascript" src="src/local/components.js"></script>
  <script type="text/javascript" src="src/local/scenes.js"></script>
  <script type="text/javascript" src="src/local/rules.js"></script>
  <script type="text/javascript" src="src/local/win.js"></script>
  <link rel="stylesheet" href="lib/bootstrap.min.css" />
  <link rel="stylesheet" href="lib/toastr.css" />
  <link rel="stylesheet" href="css/local/style.css" />
  <link rel="stylesheet" href="css/local/style_single.css" />
  <script type="text/javascript" src="src/local/main.js"></script>
  <title>Chipschach - Singleplayer</title>
</head>
<body>
 <div id="overlay"></div>
 <div id="nav">
  <div id="btn_menu"></div>
  <div id="profile-container">
    <div class="navicon" id="profilePic">
      <img src="../img/profilPicErsatz.bmp" />
    </div>
    <div id="counter-container">
      <div class="navicon" id="counter">
        <img src="../img/chips&#39;n&#39;figures/ChipGreen.png" />
        <div id="chipCounter_value">-</div>
      </div>
      <div class="navicon" id="counter">
        <img src="../img/arrow.png" />
        <div id="moveCounter_value">0</div>
      </div>
    </div>
  </div>
  <!--<img src="../img/help/help.png" title="Beschreibung nochmals anzeigen" height="75px" class="navicon" id="showHelp" />-->
  <img src="../img/undo.png" title="Zug rückgängig" height="75px" class="navicon" id="undo" /> 
  <img src="../img/close.png" title="zurück zum Hauptmenü" height="75px" class="navicon" id="close" />
</div>

<div id="board-container">
  <div id="turnYellow"></div>
  <div id="turnBlue"></div>
  <div id='menu'>
    <img src="../img/logo_small.png" height="150px" />
    <h3 style="text-align: center">Dieses Level ist noch nicht erstellt.</h3>
    <p></p>
      <div id="start">
        <button type="button" class="btn btn-success btn-lg" id="btn_sp_start">Start!</button>
        <br />
        <button type="button" class="btn btn-success btn-lg" id="btn_nextLevel">Weiter ins nächstes Level!</button>
      </div>
    </div>
    <div id="cr-stage"></div>
  </div>

    <!-- <div id="help">
      <div class="head-help">
        <img src="../img/logo_small.png" height="150px" class="head-help_img" />
        <p>Level-Beschreibung:</p>
        <p class="description"></p>
      </div>
      <div class="row">
        <div class="col-md-5" id="chips">
          <p>Diese Chips ...</p>
        </div>
        <div class="col-md-7" id="explain">
          <p>...werden von diesen Figuren geschlagen!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5" id="chips">
        <img src="../img/help/ChipYellow.png" title="Die blauen Figuren können die gelben Chips schlagen" /> 
        <img src="../img/help/ChipBlue.png" title="Die gelben Figuren können die blauen Chips schlagen" /> 
        <img src="../img/help/ChipGreen.png" title="Die gelben und die blauen Figuren dürfen die grünen Chips schlagen" /> 
        <img src="../img/help/ChipRed.png"
        title="Die gelben und die blauen Figuren dürfen die roten Chips nicht schlagen" /></div>
        <div class="col-md-7" id="explain">
        <img src="../img/help/yellow.png" title="Blau kann gelbe Chips schlagen" /> 
        <img src="../img/help/blue.png" title="Gelb kann blaue Chips schlagen" /> 
        <img src="../img/help/green.png" title="Beide Farben können grüne Chips schlagen" /> 
        <img src="../img/help/red.png" title="Keiner kann rote Chips schlagen" /></div>
      </div>
      <p>Versuche möglichst viele Chips mit wenigen Spielzügen einzusammeln!</p>
    </div> -->
    <div id="errorInfo">
      <h1>Fenster ist zu klein</h1>
    </div>
  </body>
  </html>
