<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="lib/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="src/lobby/main.js"></script>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/lobby/lobby.css" />
  <title>Chipschach - Lobby</title>
</head>
<body>
<div id="body-container">
    <div class="overlay"></div>
    
    <div id="logo_container">
        <div class="logo"></div>
    </div>
    
    <div class="table">
        <div class="row">
            <div class="cell create">
            <p>Neues Spiel</p>
            </div>
            <div class="cell join">
            <p>Spiel beitreten</p>
            </div>
        </div>
    </div>
    
     <div id="hint_container">
        <p><span style="font-size:24px; text-decoration: underline">Tipp:</span> Here you can join a online multiplayer game!</p>
    </div>
<div>
</body>
</html>
